@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #eee;
}
header {
  background-color: #4e555d;
  margin-bottom: 10px;
  position: relative;
  height: 60px;
  padding: 0 20px;
  text-align: center;
}
.header {
  color: white;
  margin: 0 auto;
  position: relative;
}
.header h1 {
  font-size: 24px;
  margin: 0;
  display: inline-block;
}
.header h1 a {
  color: white;
  text-decoration: none;
}
.tagline {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}
nav {
  z-index: 2;
  float: left;
  display: block;
  position: absolute;
  text-align: left;
  top: 25%;
  font-size: 15px;
}
#view-menu ul {
  display: none;
}
#view-menu .filter-by {
  color: white;
  margin-right: 10px;
  line-height: 22.5px;
}
#view-menu:hover ul{
  display: block;
  list-style-type: none;
  background: white;
  padding: 10px;
  min-width: 180px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.35);
  position: absolute;
  top: 10px;
  left: 10px;
}
#view-menu li {
  float: left;
  margin-right: 10px;
  position: relative;
}
#view-menu a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: #444444;
}
#view-menu ul li{
  float: none; /* keeps list vertical vs header inline-block */
}
#view-menu {
  position: relative;
  display: inline-block;
  float: inherit;
}
.search {
  position: relative;
  display: inline-block;
  float: inherit;
  margin-left: 10px;
}
.search-field {
  display: block;
  width: 100px;
  background: rgba(255,255,255,0.1);
  color: #4a4444;
  font-size: 12px;
  padding: 6px 12px;
  line-height: 1.3;
  border-radius: 20px;
  border: 0px;
}
main {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}
.posts-container {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  border-radius: 3px;
  padding: 0;
  background: white;
  line-height: 1.5;
}
.post {
  padding: 10px 0px 10px 10px;
  border-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7eff2;
}
.post:first-child {
  background: #fffce0;
  border-radius: 3px 3px 0px 0px;
}
.post-content {

}
.post-upvote {

}
.post-heading {

}
.post-thumb {

}
.post-info {

}
.avatar {

}
